# 인구구조 데이터 분석

- 거주지의 인구 구조 시각화를 통한 인구 현황 분석
- 인구증가율, 인구밀도 분석 및 도시화 현황 분석
- 사회, 경제, 정책, 건강 등 여러 분야에 적용할 수 있는 인사이트를 도출

출처 : https://jumin.mois.go.kr/

In [1]:
import numpy as np

In [2]:
import pandas as pd

## 데이터 확인

In [135]:
df = pd.read_csv('./data/202309_202409_주민등록인구및세대현황_월간.csv', encoding='euc-kr')
df

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,전국 (1000000000),"51,370,001","23,900,917",2.15,"25,592,335","25,777,666",0.99,"51,354,226","23,901,564",2.15,...,2.13,"25,522,808","25,733,703",0.99,"51,248,233","24,102,045",2.13,"25,517,454","25,730,779",0.99
1,서울특별시 (1100000000),"9,407,540","4,475,726",2.10,"4,552,501","4,855,039",0.94,"9,400,249","4,472,603",2.10,...,2.08,"4,518,536","4,837,265",0.93,"9,350,995","4,487,671",2.08,"4,515,791","4,835,204",0.93
2,부산광역시 (2600000000),"3,300,836","1,565,115",2.11,"1,609,650","1,691,186",0.95,"3,298,213","1,564,546",2.11,...,2.09,"1,594,978","1,680,615",0.95,"3,273,473","1,570,953",2.08,"1,593,783","1,679,690",0.95
3,대구광역시 (2700000000),"2,377,801","1,092,536",2.18,"1,168,679","1,209,122",0.97,"2,376,978","1,092,922",2.17,...,2.15,"1,161,164","1,204,869",0.96,"2,365,523","1,102,902",2.14,"1,160,812","1,204,711",0.96
4,인천광역시 (2800000000),"2,987,918","1,344,029",2.22,"1,494,725","1,493,193",1.00,"2,990,276","1,345,719",2.22,...,2.20,"1,506,680","1,508,090",1.00,"3,016,520","1,370,309",2.20,"1,507,439","1,509,081",1.00
5,광주광역시 (2900000000),"1,422,999","656,061",2.17,"702,748","720,251",0.98,"1,421,760","655,675",2.17,...,2.15,"697,079","714,984",0.97,"1,411,357","658,210",2.14,"696,711","714,646",0.97
6,대전광역시 (3000000000),"1,444,595","680,653",2.12,"720,520","724,075",1.00,"1,443,965","680,363",2.12,...,2.10,"717,878","722,048",0.99,"1,440,456","687,909",2.09,"718,109","722,347",0.99
7,울산광역시 (3100000000),"1,104,167","489,298",2.26,"567,314","536,853",1.06,"1,104,031","489,851",2.25,...,2.22,"565,290","533,941",1.06,"1,098,728","494,664",2.22,"565,067","533,661",1.06
8,세종특별자치시 (3600000000),"385,932","160,479",2.40,"192,246","193,686",0.99,"386,079","160,556",2.40,...,2.39,"193,826","195,544",0.99,"389,443","162,952",2.39,"193,854","195,589",0.99
9,경기도 (4100000000),"13,626,339","5,969,573",2.28,"6,855,626","6,770,713",1.01,"13,627,840","5,971,803",2.28,...,2.26,"6,875,411","6,800,462",1.01,"13,680,645","6,045,219",2.26,"6,877,300","6,803,345",1.01
10,강원특별자치도 (5100000000),"1,530,712","760,903",2.01,"770,130","760,582",1.01,"1,529,500","760,656",2.01,...,1.99,"764,911","756,155",1.01,"1,520,410","765,004",1.99,"764,551","755,859",1.01
11,충청북도 (4300000000),"1,594,326","779,770",2.04,"810,835","783,491",1.03,"1,594,211","779,850",2.04,...,2.02,"809,546","781,170",1.04,"1,590,858","786,310",2.02,"809,577","781,281",1.04
12,충청남도 (4400000000),"2,127,630","1,032,336",2.06,"1,089,884","1,037,746",1.05,"2,128,563","1,033,330",2.06,...,2.04,"1,095,246","1,040,035",1.05,"2,135,373","1,050,067",2.03,"1,095,392","1,039,981",1.05
13,전라북도 (4500000000),"1,758,661","861,647",2.04,"875,353","883,308",0.99,"1,757,295","861,451",2.04,...,0.00,0,0,0.00,0,0,0.00,0,0,0.00
14,전북특별자치도 (5200000000),0,0,0.00,0,0,0.00,0,0,0.00,...,2.02,"867,993","875,190",0.99,"1,741,640","864,068",2.02,"867,235","874,405",0.99
15,전라남도 (4600000000),"1,807,295","912,090",1.98,"910,810","896,485",1.02,"1,805,823","911,474",1.98,...,1.96,"904,171","888,219",1.02,"1,791,496","912,708",1.96,"903,669","887,827",1.02
16,경상북도 (4700000000),"2,559,924","1,282,575",2.00,"1,292,868","1,267,056",1.02,"2,558,085","1,282,624",1.99,...,1.97,"1,284,828","1,255,218",1.02,"2,537,955","1,291,969",1.96,"1,283,804","1,254,151",1.02
17,경상남도 (4800000000),"3,257,009","1,524,861",2.14,"1,639,932","1,617,077",1.01,"3,255,239","1,524,850",2.13,...,2.11,"1,629,223","1,604,406",1.02,"3,232,297","1,536,377",2.10,"1,628,643","1,603,654",1.02
18,제주특별자치도 (5000000000),"676,317","313,265",2.16,"338,514","337,803",1.00,"676,119","313,291",2.16,...,2.13,"336,048","335,492",1.00,"671,064","314,753",2.13,"335,717","335,347",1.00

## 탐색적 데이터 분석

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 79 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             19 non-null     object
 1   2023년09월_총인구수    19 non-null     object
 2   2023년09월_세대수     19 non-null     object
 3   2023년09월_세대당 인구  19 non-null     float64
 4   2023년09월_남자 인구수  19 non-null     object
 5   2023년09월_여자 인구수  19 non-null     object
 6   2023년09월_남여 비율   19 non-null     float64
 7   2023년10월_총인구수    19 non-null     object
 8   2023년10월_세대수     19 non-null     object
 9   2023년10월_세대당 인구  19 non-null     float64
 10  2023년10월_남자 인구수  19 non-null     object
 11  2023년10월_여자 인구수  19 non-null     object
 12  2023년10월_남여 비율   19 non-null     float64
 13  2023년11월_총인구수    19 non-null     object
 14  2023년11월_세대수     19 non-null     object
 15  2023년11월_세대당 인구  19 non-null     float64
 16  2023년11월_남자 인구수  19 non-null     object
 17  2023년11월_여자 인구수  19 non-null     object
 18  2023년11월_남여 비율   19 non-null     float64
 19  2023년12월_총인구수    19 non-null     object
 20  2023년12월_세대수     19 non-null     object
 21  2023년12월_세대당 인구  19 non-null     float64
 22  2023년12월_남자 인구수  19 non-null     object
 23  2023년12월_여자 인구수  19 non-null     object
 24  2023년12월_남여 비율   19 non-null     float64
 25  2024년01월_총인구수    19 non-null     object
 26  2024년01월_세대수     19 non-null     object
 27  2024년01월_세대당 인구  19 non-null     float64
 28  2024년01월_남자 인구수  19 non-null     object
 29  2024년01월_여자 인구수  19 non-null     object
 30  2024년01월_남여 비율   19 non-null     float64
 31  2024년02월_총인구수    19 non-null     object
 32  2024년02월_세대수     19 non-null     object
 33  2024년02월_세대당 인구  19 non-null     float64
 34  2024년02월_남자 인구수  19 non-null     object
 35  2024년02월_여자 인구수  19 non-null     object
 36  2024년02월_남여 비율   19 non-null     float64
 37  2024년03월_총인구수    19 non-null     object
 38  2024년03월_세대수     19 non-null     object
 39  2024년03월_세대당 인구  19 non-null     float64
 40  2024년03월_남자 인구수  19 non-null     object
 41  2024년03월_여자 인구수  19 non-null     object
 42  2024년03월_남여 비율   19 non-null     float64
 43  2024년04월_총인구수    19 non-null     object
 44  2024년04월_세대수     19 non-null     object
 45  2024년04월_세대당 인구  19 non-null     float64
 46  2024년04월_남자 인구수  19 non-null     object
 47  2024년04월_여자 인구수  19 non-null     object
 48  2024년04월_남여 비율   19 non-null     float64
 49  2024년05월_총인구수    19 non-null     object
 50  2024년05월_세대수     19 non-null     object
 51  2024년05월_세대당 인구  19 non-null     float64
 52  2024년05월_남자 인구수  19 non-null     object
 53  2024년05월_여자 인구수  19 non-null     object
 54  2024년05월_남여 비율   19 non-null     float64
 55  2024년06월_총인구수    19 non-null     object
 56  2024년06월_세대수     19 non-null     object
 57  2024년06월_세대당 인구  19 non-null     float64
 58  2024년06월_남자 인구수  19 non-null     object
 59  2024년06월_여자 인구수  19 non-null     object
 60  2024년06월_남여 비율   19 non-null     float64
 61  2024년07월_총인구수    19 non-null     object
 62  2024년07월_세대수     19 non-null     object
 63  2024년07월_세대당 인구  19 non-null     float64
 64  2024년07월_남자 인구수  19 non-null     object
 65  2024년07월_여자 인구수  19 non-null     object
 66  2024년07월_남여 비율   19 non-null     float64
 67  2024년08월_총인구수    19 non-null     object
 68  2024년08월_세대수     19 non-null     object
 69  2024년08월_세대당 인구  19 non-null     float64
 70  2024년08월_남자 인구수  19 non-null     object
 71  2024년08월_여자 인구수  19 non-null     object
 72  2024년08월_남여 비율   19 non-null     float64
 73  2024년09월_총인구수    19 non-null     object
 74  2024년09월_세대수     19 non-null     object
 75  2024년09월_세대당 인구  19 non-null     float64
 76  2024년09월_남자 인구수  19 non-null     object
 77  2024년09월_여자 인구수  19 non-null     object
 78  2024년09월_남여 비율   19 non-null     float64
dtypes: float64(26), object(53)
memory usage: 11.9+ KB

In [69]:
df.shape

(19, 79)

In [70]:
df.columns

Index(['행정구역', '2023년09월_총인구수', '2023년09월_세대수', '2023년09월_세대당 인구',
       '2023년09월_남자 인구수', '2023년09월_여자 인구수', '2023년09월_남여 비율', '2023년10월_총인구수',
       '2023년10월_세대수', '2023년10월_세대당 인구', '2023년10월_남자 인구수', '2023년10월_여자 인구수',
       '2023년10월_남여 비율', '2023년11월_총인구수', '2023년11월_세대수', '2023년11월_세대당 인구',
       '2023년11월_남자 인구수', '2023년11월_여자 인구수', '2023년11월_남여 비율', '2023년12월_총인구수',
       '2023년12월_세대수', '2023년12월_세대당 인구', '2023년12월_남자 인구수', '2023년12월_여자 인구수',
       '2023년12월_남여 비율', '2024년01월_총인구수', '2024년01월_세대수', '2024년01월_세대당 인구',
       '2024년01월_남자 인구수', '2024년01월_여자 인구수', '2024년01월_남여 비율', '2024년02월_총인구수',
       '2024년02월_세대수', '2024년02월_세대당 인구', '2024년02월_남자 인구수', '2024년02월_여자 인구수',
       '2024년02월_남여 비율', '2024년03월_총인구수', '2024년03월_세대수', '2024년03월_세대당 인구',
       '2024년03월_남자 인구수', '2024년03월_여자 인구수', '2024년03월_남여 비율', '2024년04월_총인구수',
       '2024년04월_세대수', '2024년04월_세대당 인구', '2024년04월_남자 인구수', '2024년04월_여자 인구수',
       '2024년04월_남여 비율', '2024년05월_총인구수', '2024년05월_세대수', '2024년05월_세대당 인구',
       '2024년05월_남자 인구수', '2024년05월_여자 인구수', '2024년05월_남여 비율', '2024년06월_총인구수',
       '2024년06월_세대수', '2024년06월_세대당 인구', '2024년06월_남자 인구수', '2024년06월_여자 인구수',
       '2024년06월_남여 비율', '2024년07월_총인구수', '2024년07월_세대수', '2024년07월_세대당 인구',
       '2024년07월_남자 인구수', '2024년07월_여자 인구수', '2024년07월_남여 비율', '2024년08월_총인구수',
       '2024년08월_세대수', '2024년08월_세대당 인구', '2024년08월_남자 인구수', '2024년08월_여자 인구수',
       '2024년08월_남여 비율', '2024년09월_총인구수', '2024년09월_세대수', '2024년09월_세대당 인구',
       '2024년09월_남자 인구수', '2024년09월_여자 인구수', '2024년09월_남여 비율'],
      dtype='object')

## 결측치 확인

In [73]:
df.isnull().sum()

행정구역               0
2023년09월_총인구수      0
2023년09월_세대수       0
2023년09월_세대당 인구    0
2023년09월_남자 인구수    0
                  ..
2024년09월_세대수       0
2024년09월_세대당 인구    0
2024년09월_남자 인구수    0
2024년09월_여자 인구수    0
2024년09월_남여 비율     0
Length: 79, dtype: int64

# 데이터 전처리

In [136]:
# 인덱스 열 불필요한 숫자 제거
df['행정구역'] = df['행정구역'].str.replace(r'\s*\(.*\)', '', regex=True)
df['행정구역']

0          전국
1       서울특별시
2       부산광역시
3       대구광역시
4       인천광역시
5       광주광역시
6       대전광역시
7       울산광역시
8     세종특별자치시
9         경기도
10    강원특별자치도
11       충청북도
12       충청남도
13       전라북도
14    전북특별자치도
15       전라남도
16       경상북도
17       경상남도
18    제주특별자치도
Name: 행정구역, dtype: object

In [137]:
# 인덱스 열 제외 쉼표 제거
df.iloc[:, 1:] = df.iloc[:, 1:].replace(',', '', regex=True)
df.head()

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,전국,51370001,23900917,2.15,25592335,25777666,0.99,51354226,23901564,2.15,...,2.13,25522808,25733703,0.99,51248233,24102045,2.13,25517454,25730779,0.99
1,서울특별시,9407540,4475726,2.10,4552501,4855039,0.94,9400249,4472603,2.10,...,2.08,4518536,4837265,0.93,9350995,4487671,2.08,4515791,4835204,0.93
2,부산광역시,3300836,1565115,2.11,1609650,1691186,0.95,3298213,1564546,2.11,...,2.09,1594978,1680615,0.95,3273473,1570953,2.08,1593783,1679690,0.95
3,대구광역시,2377801,1092536,2.18,1168679,1209122,0.97,2376978,1092922,2.17,...,2.15,1161164,1204869,0.96,2365523,1102902,2.14,1160812,1204711,0.96
4,인천광역시,2987918,1344029,2.22,1494725,1493193,1.00,2990276,1345719,2.22,...,2.20,1506680,1508090,1.00,3016520,1370309,2.20,1507439,1509081,1.00

In [138]:
# 인덱스 열 제외 숫자형 변경
df_columns = df.columns[1:]
df[df_columns] = df[df_columns].apply(pd.to_numeric, errors='coerce').astype(float)

In [139]:
df.dtypes

행정구역                object
2023년09월_총인구수      float64
2023년09월_세대수       float64
2023년09월_세대당 인구    float64
2023년09월_남자 인구수    float64
                    ...
2024년09월_세대수       float64
2024년09월_세대당 인구    float64
2024년09월_남자 인구수    float64
2024년09월_여자 인구수    float64
2024년09월_남여 비율     float64
Length: 79, dtype: object

In [140]:
df.head()

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,전국,51370001.0,23900917.0,2.15,25592335.0,25777666.0,0.99,51354226.0,23901564.0,2.15,...,2.13,25522808.0,25733703.0,0.99,51248233.0,24102045.0,2.13,25517454.0,25730779.0,0.99
1,서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,0.94,9400249.0,4472603.0,2.10,...,2.08,4518536.0,4837265.0,0.93,9350995.0,4487671.0,2.08,4515791.0,4835204.0,0.93
2,부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,0.95,3298213.0,1564546.0,2.11,...,2.09,1594978.0,1680615.0,0.95,3273473.0,1570953.0,2.08,1593783.0,1679690.0,0.95
3,대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,0.97,2376978.0,1092922.0,2.17,...,2.15,1161164.0,1204869.0,0.96,2365523.0,1102902.0,2.14,1160812.0,1204711.0,0.96
4,인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,1.00,2990276.0,1345719.0,2.22,...,2.20,1506680.0,1508090.0,1.00,3016520.0,1370309.0,2.20,1507439.0,1509081.0,1.00

In [141]:
#전라북도, 전북특별자치도 합치기
jeonbuk = df[df['행정구역'] == '전라북도']
jeonbuk_special = df[df['행정구역'] == '전북특별자치도']

combined = jeonbuk.iloc[0].copy()
combined['행정구역'] = '전북특별자치도'
for col in df.columns[1:]:  # '시도' 열을 제외한 모든 열에 대해
    combined[col] = jeonbuk.iloc[0][col] + jeonbuk_special.iloc[0][col]

df = df[df['행정구역'] != '전라북도']
df = df[df['행정구역'] != '전북특별자치도']

df.loc[19] = combined

df

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_세대당 인구,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율
0,전국,51370001.0,23900917.0,2.15,25592335.0,25777666.0,0.99,51354226.0,23901564.0,2.15,...,2.13,25522808.0,25733703.0,0.99,51248233.0,24102045.0,2.13,25517454.0,25730779.0,0.99
1,서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,0.94,9400249.0,4472603.0,2.10,...,2.08,4518536.0,4837265.0,0.93,9350995.0,4487671.0,2.08,4515791.0,4835204.0,0.93
2,부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,0.95,3298213.0,1564546.0,2.11,...,2.09,1594978.0,1680615.0,0.95,3273473.0,1570953.0,2.08,1593783.0,1679690.0,0.95
3,대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,0.97,2376978.0,1092922.0,2.17,...,2.15,1161164.0,1204869.0,0.96,2365523.0,1102902.0,2.14,1160812.0,1204711.0,0.96
4,인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,1.00,2990276.0,1345719.0,2.22,...,2.20,1506680.0,1508090.0,1.00,3016520.0,1370309.0,2.20,1507439.0,1509081.0,1.00
5,광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,0.98,1421760.0,655675.0,2.17,...,2.15,697079.0,714984.0,0.97,1411357.0,658210.0,2.14,696711.0,714646.0,0.97
6,대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,1.00,1443965.0,680363.0,2.12,...,2.10,717878.0,722048.0,0.99,1440456.0,687909.0,2.09,718109.0,722347.0,0.99
7,울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,1.06,1104031.0,489851.0,2.25,...,2.22,565290.0,533941.0,1.06,1098728.0,494664.0,2.22,565067.0,533661.0,1.06
8,세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,0.99,386079.0,160556.0,2.40,...,2.39,193826.0,195544.0,0.99,389443.0,162952.0,2.39,193854.0,195589.0,0.99
9,경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,1.01,13627840.0,5971803.0,2.28,...,2.26,6875411.0,6800462.0,1.01,13680645.0,6045219.0,2.26,6877300.0,6803345.0,1.01
10,강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,1.01,1529500.0,760656.0,2.01,...,1.99,764911.0,756155.0,1.01,1520410.0,765004.0,1.99,764551.0,755859.0,1.01
11,충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,1.03,1594211.0,779850.0,2.04,...,2.02,809546.0,781170.0,1.04,1590858.0,786310.0,2.02,809577.0,781281.0,1.04
12,충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,1.05,2128563.0,1033330.0,2.06,...,2.04,1095246.0,1040035.0,1.05,2135373.0,1050067.0,2.03,1095392.0,1039981.0,1.05
15,전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,1.02,1805823.0,911474.0,1.98,...,1.96,904171.0,888219.0,1.02,1791496.0,912708.0,1.96,903669.0,887827.0,1.02
16,경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,1.02,2558085.0,1282624.0,1.99,...,1.97,1284828.0,1255218.0,1.02,2537955.0,1291969.0,1.96,1283804.0,1254151.0,1.02
17,경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,1.01,3255239.0,1524850.0,2.13,...,2.11,1629223.0,1604406.0,1.02,3232297.0,1536377.0,2.10,1628643.0,1603654.0,1.02
18,제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,1.00,676119.0,313291.0,2.16,...,2.13,336048.0,335492.0,1.00,671064.0,314753.0,2.13,335717.0,335347.0,1.00
19,전북특별자치도,1758661.0,861647.0,2.04,875353.0,883308.0,0.99,1757295.0,861451.0,2.04,...,2.02,867993.0,875190.0,0.99,1741640.0,864068.0,2.02,867235.0,874405.0,0.99

## 현황 분석 (2024년 9월)

### 지역별 인구 비율

In [144]:
#전국제외
df = df[df['행정구역'] != '전국']
#총인구 계산
total_population = df['2024년09월_총인구수'].sum()

# 지역별 인구 비율 계산
df['2024년09월_인구비율'] = (df['2024년09월_총인구수'] / total_population * 100).round(2)

df

,행정구역,2023년09월_총인구수,2023년09월_세대수,2023년09월_세대당 인구,2023년09월_남자 인구수,2023년09월_여자 인구수,2023년09월_남여 비율,2023년10월_총인구수,2023년10월_세대수,2023년10월_세대당 인구,...,2024년08월_남자 인구수,2024년08월_여자 인구수,2024년08월_남여 비율,2024년09월_총인구수,2024년09월_세대수,2024년09월_세대당 인구,2024년09월_남자 인구수,2024년09월_여자 인구수,2024년09월_남여 비율,2024년09월_인구비율
1,서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,0.94,9400249.0,4472603.0,2.10,...,4518536.0,4837265.0,0.93,9350995.0,4487671.0,2.08,4515791.0,4835204.0,0.93,18.25
2,부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,0.95,3298213.0,1564546.0,2.11,...,1594978.0,1680615.0,0.95,3273473.0,1570953.0,2.08,1593783.0,1679690.0,0.95,6.39
3,대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,0.97,2376978.0,1092922.0,2.17,...,1161164.0,1204869.0,0.96,2365523.0,1102902.0,2.14,1160812.0,1204711.0,0.96,4.62
4,인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,1.00,2990276.0,1345719.0,2.22,...,1506680.0,1508090.0,1.00,3016520.0,1370309.0,2.20,1507439.0,1509081.0,1.00,5.89
5,광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,0.98,1421760.0,655675.0,2.17,...,697079.0,714984.0,0.97,1411357.0,658210.0,2.14,696711.0,714646.0,0.97,2.75
6,대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,1.00,1443965.0,680363.0,2.12,...,717878.0,722048.0,0.99,1440456.0,687909.0,2.09,718109.0,722347.0,0.99,2.81
7,울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,1.06,1104031.0,489851.0,2.25,...,565290.0,533941.0,1.06,1098728.0,494664.0,2.22,565067.0,533661.0,1.06,2.14
8,세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,0.99,386079.0,160556.0,2.40,...,193826.0,195544.0,0.99,389443.0,162952.0,2.39,193854.0,195589.0,0.99,0.76
9,경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,1.01,13627840.0,5971803.0,2.28,...,6875411.0,6800462.0,1.01,13680645.0,6045219.0,2.26,6877300.0,6803345.0,1.01,26.69
10,강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,1.01,1529500.0,760656.0,2.01,...,764911.0,756155.0,1.01,1520410.0,765004.0,1.99,764551.0,755859.0,1.01,2.97
11,충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,1.03,1594211.0,779850.0,2.04,...,809546.0,781170.0,1.04,1590858.0,786310.0,2.02,809577.0,781281.0,1.04,3.10
12,충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,1.05,2128563.0,1033330.0,2.06,...,1095246.0,1040035.0,1.05,2135373.0,1050067.0,2.03,1095392.0,1039981.0,1.05,4.17
15,전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,1.02,1805823.0,911474.0,1.98,...,904171.0,888219.0,1.02,1791496.0,912708.0,1.96,903669.0,887827.0,1.02,3.50
16,경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,1.02,2558085.0,1282624.0,1.99,...,1284828.0,1255218.0,1.02,2537955.0,1291969.0,1.96,1283804.0,1254151.0,1.02,4.95
17,경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,1.01,3255239.0,1524850.0,2.13,...,1629223.0,1604406.0,1.02,3232297.0,1536377.0,2.10,1628643.0,1603654.0,1.02,6.31
18,제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,1.00,676119.0,313291.0,2.16,...,336048.0,335492.0,1.00,671064.0,314753.0,2.13,335717.0,335347.0,1.00,1.31
19,전북특별자치도,1758661.0,861647.0,2.04,875353.0,883308.0,0.99,1757295.0,861451.0,2.04,...,867993.0,875190.0,0.99,1741640.0,864068.0,2.02,867235.0,874405.0,0.99,3.40

### 성비

In [145]:
df['2024년09월_남여 비율']

1     0.93
2     0.95
3     0.96
4     1.00
5     0.97
6     0.99
7     1.06
8     0.99
9     1.01
10    1.01
11    1.04
12    1.05
15    1.02
16    1.02
17    1.02
18    1.00
19    0.99
Name: 2024년09월_남여 비율, dtype: float64

### 지역별 세대당 인구수

In [146]:
df['2024년09월_세대당 인구']

1     2.08
2     2.08
3     2.14
4     2.20
5     2.14
6     2.09
7     2.22
8     2.39
9     2.26
10    1.99
11    2.02
12    2.03
15    1.96
16    1.96
17    2.10
18    2.13
19    2.02
Name: 2024년09월_세대당 인구, dtype: float64

## 변화 추이 (1년)

### 인구증가율(연도별 인구수 변화추이)

In [ ]:
# 연도별 총인구수 계산
yearly_population = df.groupby('연도')['총인구수'].sum().reset_index()

### 연도별 세대당 인구수 변화추이

### 지역별 인구 변화 추이(도시화 현황)

### 연도별 성비 차이

# 시각화

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns